
.checkout {
  display: flex;
  padding: 20px;
  height: max-content;
  align-items: flex-start;
  flex-wrap: wrap;
}

.checkout:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 32px;
  left: 0;
  right: 0;
  height: 240px;
  background-color: #fff;
  background-image: url("./img/longline_back.jpg");
  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.3) 0,
    rgba(0, 0, 0, 0.2) 50%,
    rgba(0, 0, 0, 0) 100%
  );
}

.checkout__left {
  display: flex;
  background-color: rgba(209, 151, 44, 0.438);
  margin-bottom: 10px;
}

.checkout__right {
  display: flex;
}

.checkout__content {
  width: calc(100% - 10px);
}

@media(min-width: 800px) {
  .checkout__content {
    width: calc(100% - 20px);
  }
}

.checkout__ad {
  width: 100%;
  max-width: 530px;
  /* filter: drop-shadow(4px 4px 5px #222222); */
  box-shadow: rgba(23, 7, 59, .6) 0px 0px 10px;
}

.checkout__title {
  margin-right: 10px;
  padding: 10px;
}

.checkout__productsContent {
  background-color: white;
  border-radius: 6px;
  padding: 10px;
  box-shadow: rgba(23, 7, 59, .6) 0px 0px 10px;
}